.topbar {
    background-color: rgba(48, 130, 255, 0.86) !important;
    padding: 8px 0 !important;
}

.opblock-summary-operation-id {
    min-width: 250px !important;
    justify-content: end !important;
}

.info {
    display: none;
    margin: 20px 0 0 0 !important;
}

.swagger-ui .scheme-container {
    margin: 0 !important;
    padding: 20px 0 10px !important;
    -webkit-box-shadow: none !important;
    background: none !important;
}

.schemes-server-container {
    display: none !important;
}

.auth-wrapper {
    margin-left: auto;
    margin-right: 0;
}

.topbar-wrapper > a > svg {
    display: none !important;
}